<!doctype html>
<html lang="ru">
  {{ partial "block-header/head" . }}
  <body class="sans-serif">
    {{ partial "block-nav/pet-nav" . }}
    {{ block "main" . }}{{ end }} 
    {{ partial "block-footer/pet-footer" . }}

    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/sw.js', { scope: '/' })
                .then(function(registration) {
                    console.log('Service Worker Registered');
                });

            navigator.serviceWorker
                .ready
                .then(function(registration) {
                    console.log('Service Worker Ready');
                });
        }
    </script>
  </body>
</html>