<section class="pet-section pet-have-question">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-xl-6">
            <div class="text-block">
                <div class="subjects">
                    <img src="img/subj-1.png" alt="">
                    <img src="img/subj-2.png" alt="">
                    <img src="img/subj-3.png" alt="">
                </div>
                <h2>Есть вопрос <br> к ветеринару ?</h2>
                <p>
                    Признайтесь, вы любите смотреть по сторонам, проезжая по МКАДу или какой-нибудь федеральной трассе? Вам доставляет удовольствие это зрелище?
                </p>
                <div class="links">
                    <a href="#" class="pet-btn is-blue"><span>открыть в </span>app store</a>
                    <a href="#" class="pet-btn is-blue"><span>открыть в </span>play market</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-xl-5 col-xl-offset-1 text-center">
            <img class="img-response" src="img/owl.svg" alt="">
        </div>
    </div>
</section>