<section class="pet-section pet-app-property">
    <img class="road" src="img/road.png" alt="">
    <div class="pet-app-property-inner">
        <div class="text">
            <h2>Особенности приложения</h2>
            <p>
                Всё это великолепие строительных рынков, заборов, <br>
                рекламных баннеров и билбордов...
            </p>
        </div>
        <div class="property">
            <div class="item">
                <img src="img/bird.png" alt="">
                <strong>Запись на приём</strong>
                <p>Всё это великолепие строительных рынков, заборов, рекламных баннеров и билбордов.</p>
            </div>
            <div class="item">
                <img src="img/mustage.png" alt="">
                <strong>Ветеринары</strong>
                <p>Всё это великолепие строительных рынков, заборов, рекламных баннеров и билбордов...</p>
            </div>
            <div class="item">
                <img src="img/cat.png" alt="">
                <strong>Карточка питомца</strong>
                <p>Всё это великолепие строительных рынков, заборов, рекламных баннеров и билбордов.</p>
            </div>
        </div>
        <div class="links">
            <a href="#" class="pet-btn is-white"><span>открыть в </span>app store</a>
            <a href="#" class="pet-btn is-white"><span>открыть в </span>play market</a>
        </div>
    </div>
</section>