<section class="pet-section pet-app-property">
    <img class="road" src="img/road.png" alt="{{.heading}}">
    {{ with .third_section}}
        <div class="pet-app-property-inner">
            <div class="text">
                <h2>{{.heading}}</h2>
                <p>{{.description}}</p>
            </div>
            <div class="property">
                {{range .promo_block}}
                <div class="item">
                    <img src="{{.image}}" alt="{{.heading}}">
                    <strong>{{.heading}}</strong>
                    <p>{{.description}}</p>
                </div>
                {{end}}
            </div>
            <div class="links">
                {{ range .button_app}}
                <a href="{{.link}}" class="pet-btn is-white">{{.name}}</a>
                {{ end }}
            </div>
        </div>
    {{ end }}
</section>