<head>

	<title>{{ .Params.seo.title }}</title>
	<link rel="stylesheet" href="/css/main.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->

	<link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/img/fav/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/img/fav/mstile-150x150.png">
	<meta name="theme-color" content="#fff">

	<!-- GEO -->
	<meta name="geo.placename" content="Большая почтовая 38с6, Москва, 	105082">
	<meta name="geo.position" content="55.781307;37.699287">
	<meta name="geo.region" content="RU-Москва">
	<meta name="ICBM" content="55.781307, 37.699287">

	<!-- SEO -->
	<meta name="description" content="{{ .Params.seo.description }}">
	<meta name="keywords" content="{{ with .Params.seo }}{{ range .keywords }}{{ .key }},{{ end }}{{ end }}">
	<meta content="{{ .Params.seo.description }}" property="og:description">
	<meta name="robots" content="noodp"/>
	<link rel="canonical" href="{{ .Permalink }}" />

	<!-- Open Graph -->
	<meta property="og:type" content="business.business">
	<meta property="og:image" content="https://drive-lab.ru/img/og-image.jpg">
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
	<meta content="{{ .Params.seo.title }}" property="og:title">
	<meta content="{{ .Params.seo.description }}" property="og:description">
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:site_name" content="{{ .Params.seo.title }}" />
</head>