{{ define "main" }}
<div class="pet-map">
	<iframe src="{{.Site.Params.contact.map}}" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="pet-section pet-contact">
	<div class="pet-card">
		<h2>{{.Site.Params.contact.heading}}</h2>
		<p>
			{{.Site.Params.contact.adress}}
			<br><br>
			ОГРН: {{.Site.Params.contact.ogrn}} <br>
			{{.Site.Params.contact.ooo}} <br>
			{{.Site.Params.contact.llc}}
			<br><br>
			Почта для обратной связи <a href="{{.Site.Params.contact.email}}">{{.Site.Params.contact.email}}</a>
		</p>
	</div>
</div>
{{ end }}
