{{ define "main" }}
<section class="pet-section pet-guest">
    {{ partial "block-nav/pet-nav-legal" .}}
    <div class="pet-guest-article">
        <article id="Anchor1">
            <h1>Договор оферта</h1>
            <h4>Оферта о заключении договора возмездного оказания информационных услуг (экспресс-консультаций)</h4>
            <p>
                Онлайн-консультация — услуга, с помощью которой можно удаленно (в чате или по видеосвязи) посоветоваться с опытным ветеринаром, не привозя своего питомца в клинику. Консультацию проводят специалисты ветеринарного центра Зоовет — многопрофильной клиники для животных, работающей уже более 13 лет. Ветеринары регулярно повышают квалификацию в учебном центре клиники, а также обучаются за рубежом. Средний стаж специалистов составляет 10 лет.
            </p>
            <p class="upper">
                Онлайн-консультация будет полезна, если вам нужно:
            </p>
            <ul>
                <li>получить совет по содержанию животного и по уходу за ним</li>
                <li>составить план вакцинации и других профилактических мероприятий</li>
                <li>получить рекомендации по рациону и режиму кормления</li>
                <li>обсудить тревожные симптомы или отклонения в поведении</li>
                <li>узнать больше о ветеринарном свидетельстве или паспорте</li>
                <li>посоветоваться перед поездкой с питомцем за границу</li>
                <li>задать другой вопрос о содержании или лечении животного.</li>
            </ul>
            <p>
                Ветеринары клиники консультируют по вопросам лечения и содержания кошек, собак, птиц, обезьян, а также домашних грызунов и некоторых рептилий.
            </p>
        </article>
    </div>
</section>
{{ end }}
