<section class="pet-section pet-main-section">
    <div class="parallax-scene" id="main-section-scene">
        <div data-depth="0.05" class="layer">
            <div class="layer-1">
                <img src="img/0-static.png" alt="">
            </div>
        </div>
        <div data-depth="0.2" class="layer">
            <div class="layer-2">
                <img src="img/1-back.png" alt="">
            </div>
        </div>
        <div data-depth="0.3" class="layer">
            <div class="layer-3">
                <img src="img/2-wide.png" alt="">
            </div>
        </div>
        <div data-depth="0.4" class="layer">
            <div class="layer-4">
                <img src="img/3-middle.png" alt="">
            </div>
        </div>
        <div data-depth="1.1" class="layer">
            <div class="layer-5">
                <img src="img/4-front.png" alt="">
            </div>
        </div>
        <div data-depth="1.2" class="layer">
            <div class="layer-6">
                <img src="img/5-closeup.png" alt="">
            </div>
        </div>
    </div>
    <div class="section-container">
        {{ with .first_section }}
            <div class="logo">
                <img src="img/logo-white.svg" alt="">
                <div class="text">{{.heading}}</div>
            </div>
            <h2>{{.text}}</h2>
            <p>{{.description}}</p>
            <div class="links">
                {{ range .button_app}}
                    <a href="{{.link}}" class="pet-btn is-white">{{.name}}</a>
                {{ end }}
            </div>
        {{ end }}
    </div>
</section>