<footer class="pet-section pet-footer">
	<strong>{{.Site.Params.footer.author}}</strong>
	<div class="links">
		{{ range .Site.Menus.footer }}
			<a href="{{ .URL }}" title="{{ .Title }}">
				{{- .Name -}}
			</a>
		{{ end }}
	</div>
	<p>Тел. {{.Site.Params.footer.phone}} <br>
		Адрес: {{.Site.Params.footer.adress}}
	</p>
	<a href="#" class="pet-btn is-white">обратная связь</a>
	<p>{{.Site.Params.footer.copyright}}</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script type="text/javascript">
        $('.main-nav a').click(function () {
            $('.main-nav').removeClass('open');
        })
        $('#openMenu').click(function () {
            $('.main-nav').addClass('open');
        })
        $('#closeMenu').click(function () {
            $('.main-nav').removeClass('open');
        })


        var mainScene = document.getElementById('main-section-scene');
        var mainParallax = new Parallax(mainScene, {
            scalarX: 2,
            scalarY: 2
        });

        var appScene = document.getElementById('app-can-scene');
        var appParallax = new Parallax(appScene, {
            scalarX: 2,
            scalarY: 2
        });
</script>

<script type="text/javascript">
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js')
            .then(function() {});
    }
    'use strict';

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/sw.js').then(function(reg) {
                // updatefound is fired if sw.js changes.
                reg.onupdatefound = function() {
                    var installingWorker = reg.installing;

                    installingWorker.onstatechange = function() {
                        switch (installingWorker.state) {
                            case 'installed':
                                if (navigator.serviceWorker.controller) {
                                    console.log('Доступен новый или обновленный контент. Обновите.');
                                } else {
                                    console.log('Содержимое доступно в офлайн-режиме!');
                                }
                                break;

                            case 'redundant':
                                console.error('The installing service worker became redundant.');
                                break;
                        }
                    };
                };
            }).catch(function(e) {
                console.error('Ошибка при регистрации сервисного обработчика:', e);
            });
        });
    }
</script>

</body>

</html>
