<section class="pet-section pet-app-can text-center">
    <div class="parallax-scene" id="app-can-scene">
        <div data-depth="0.05" class="layer">
            <div class="layer-1">
                <img src="img/2-1.png" alt="">
            </div>
        </div>
        <div data-depth="0.3" class="layer">
            <div class="layer-2">
                <img src="img/2-2.png" alt="">
            </div>
        </div>
        <div data-depth="0.6" class="layer">
            <div class="layer-3">
                <img src="img/2-3.png" alt="">
            </div>
        </div>
    </div>
    <div class="section-container">
        <h2>Что тут можно делать</h2>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="can-item">
                    <div class="img">
                        <img class="img-response" src="img/can-do-1.png" alt="">
                    </div>
                    <strong>Пристройство питомцев</strong>
                    <p>Найдите себе питомца, или пристройте своих котяток в хорошие руки</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="can-item">
                    <div class="img">
                        <img class="img-response" src="img/can-do-2.png" alt="">
                    </div>
                    <strong>Поиск потеряшек</strong>
                    <p>Тревожная кнопка которая отправит приметы вашего питомца всем пользователям приложения поблизости от места потери</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="can-item">
                    <div class="img">
                        <img class="img-response" src="img/can-do-3.png" alt="">
                    </div>
                    <strong>Лента новостей</strong>
                    <p>Найдите себе питомца, или пристройте своих котяток в хорошие руки</p>
                </div>
            </div>
        </div>
        <div class="links">
            <a href="#" class="pet-btn is-white"><span>открыть в </span>app store</a>
            <a href="#" class="pet-btn is-white"><span>открыть в </span>play market</a>
        </div>
    </div>
</section>